.portfolio-wrapper {
    margin-bottom: calc(5vw - 30px);
}

.portfolio-wrapper__portfolio-content-wrapper {
    padding-right: 23px;
    padding-left: 0;
    padding-bottom: 40px;
}

.portfolio-wrapper__portfolio-content-wrapper:nth-child(4) {
    padding-left: 17px;
    padding-right: 17px;
}

.portfolio-wrapper__portfolio-content-wrapper:nth-child(5) {
    padding-left: 23px;
    padding-right: 0;
}

.portfolio-wrapper__portfolio-content-wrapper__portfolio-content {
    padding: 30px;
    border-radius: 15px;
    height: 100%;
}

.portfolio-img {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 30%);
}

.text-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.portfolio-link {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.portfolio-link img {
    width: 35px;
    margin-bottom: 0;
}

/* 
.codepenLink {
    margin-bottom: 0;
    width: 30px;
} */

.codepen-link .common-button {
    width: 100%;
    color: #000;
}


.dribbble-link .common-button {
    width: 100%;
    background-color: #ea4c89;
    color: #fff;
}

@media (max-width: 992px) {
    .portfolio-wrapper__portfolio-content-wrapper {
        padding-right: 20px;
        padding-left: 0;
    }

    .portfolio-wrapper__portfolio-content-wrapper:nth-child(4) {
        padding-left: 20px;
        padding-right: 0px;
    }

    .portfolio-wrapper__portfolio-content-wrapper:nth-child(5) {
        padding-right: 20px;
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .portfolio-wrapper__portfolio-content-wrapper {
        padding-right: 0px;
        padding-left: 0;
    }

    .portfolio-wrapper__portfolio-content-wrapper:nth-child(4) {
        padding-left: 0px;
        padding-right: 0px;
    }

    .portfolio-wrapper__portfolio-content-wrapper:nth-child(5) {
        padding-right: 0px;
        padding-left: 0;
    }
}

@media (max-width: 576px) {
    .portfolio-link img {
        width: 22px;
    }

    .dribbble-link .common-button {
        margin-top: 30px;
    }
}