@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --background--color: linear-gradient(47deg, rgba(180, 176, 255, 1) 0%, rgba(255, 120, 236, 1) 33%, rgba(165, 209, 255, 1) 71%, rgba(246, 108, 247, 1) 100%);
    --glass-bg-color: rgba(255, 255, 255, 0.4);

    /* color */
    --main-color: #333;
    --second-color: #fff;
}

.dark {
    --background--color: linear-gradient(47deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 105, 1) 33%, rgba(0, 100, 204, 1) 71%, rgba(22, 0, 135, 1) 100%);
    --glass-bg-color: rgba(0, 0, 0, 0.4);
    /* color */
    --main-color: #fff;
    --second-color: #333;
}

body {
    background: var(--background--color);
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    margin: 0;
    color: var(--main-color);
}

.glass-bg {
    background-color: var(--glass-bg-color);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 30%);
}

/* nav header */
.nav-header {
    display: flex;
    justify-content: center;

    margin: 3vw 5vw;
    border-radius: 15px;
    position: fixed;
    top: 0;
    width: 90vw;
    min-height: 54px;
    z-index: 999998;
    padding: 0;
}

.nav-item {
    min-width: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item .nav-link {
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: bold;
}

.nav-space {
    width: 80vw;
    transform: translateY(-100%);
    margin: -6vw 5vw 0;
    height: 54px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    min-height: 54px;
    width: 90vw;
    margin: 0 5vw;
    margin-bottom: 30px;
}

.theme-btn {
    position: absolute;
    top: 0;
    right: 10px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}

.theme-btn i {
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s;
}

.theme-btn i:hover {
    font-size: 30px;
}

.content-wrapper {
    margin: calc(5vw + 65px) 5vw 0;
    width: 90vw;
}

.row,
p {
    margin: 0;
}

.header {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

.common-button {
    height: 45px;
    width: max-content;
    font-weight: 700;
    padding: 0 20px;
    border-radius: 20px;
    border: none;
    color: var(--main-color);
    cursor: pointer;
    transition: all 0.5s;
}

.common-button:hover {
    transform: translate(0, -10%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.modal{
    z-index: 999999;
    margin: 0;
    padding: 0;
}

.model-wrapper{
    display: flex;
}

.modal-dialog{
    min-width: 50vw;
    margin: 30px auto;
    padding: 30px;
    border-radius: 15px;
    height: max-content;
}

.modal-content{
    background-color: transparent;
    border: none;
}
.modal-content img{
    width: 80%;
    margin:auto;
    border-radius: 10px;
    margin-bottom: 30px;
}
.modal-content .model-label {
    margin-bottom: 20px;
}
.modal-content .model-btn-gp{
    width: 100%;
    display: flex;
    justify-content: center;
}
.modal-content .model-btn-gp .model-close-btn{
    margin-right: 30px;
}
.modal-header{
    padding-top: 0;
    border: none;
    justify-content: center;
}
.modal-title{
    font-size: 1.8rem;
    font-weight: bold;
}
.modal-body{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 32px;
}
.modal-footer{
    padding: 0;
    padding-top: 15px;
}
@media (max-width: 576px) {
    .modal-dialog{
        margin: 30px;
    }
    .header {
        font-size: 1.3rem;
    }

    body {
        font-size: 1.1rem;
    }

    .common-button {
        height: 40px;
        border-radius: 20px;
        padding: 0px 30px;
    }
    
.modal-content .model-btn-gp .model-close-btn{
    margin-right: 20px;
}
}

@media (max-width: 767px) {
    .nav-header {
        margin: 8vw;
        width: 84vw;
    }

    .content-wrapper {
        margin: 22vw 8vw 0;
        width: 84vw;
    }

    .nav-pills {
        display: none;
    }
    
.modal-content .model-btn-gp .model-close-btn{
    margin-right: 25px;
}
}

@media (min-width: 1200px) {
    
    body {
        font-size: 1.5rem;
    }

    .header {
        font-size: 1.rem;
    }
    .nav-header{
    margin: 3vw 5vw;
    }
    .nav-item .nav-link{
        font-size: 2rem;
    }
    .theme-btn{
        width: 65px;
        height: 65px;
    }
    .theme-btn i{
        font-size: 30px;
    }
    .common-button {
        height: 56px;
        border-radius: 28px;
        padding: 0px 30px;
    }
}